/*
*@Description: custom-movie > components.less
*@Author:      huxt
*@Update:      huxt(2013-07-12 09:14)
*/


// Head component
// -------------------------

// header collection
.header-collection {
    text-align: left;
    padding-top: 4px;
}
.header-recommend {
    height: 18px;
    line-height: 28px;
    margin: 0;
}

// header > link
.header-link {
    list-style: none;
    margin-left: 36px;
}
.header-link .link-item {
    position: relative;
    padding: 0 0 0 19px;
    float: left;
    height: 30px;
}
.header-link .link-item a {
    line-height: 27px;
    vertical-align: middle;
    .caret {
        vertical-align: inherit;
    }
}
.header-link .link-item .dropdown-menu {
    height: 120px;
    width: 990px;
    left: -910px;
}



// Banner component
// -------------------------

// banner
#logo a {
    display: block;
    width: 215px;
    height: 100px;
}

// search
#search-bar {
    display: inline;
    margin-top: 22px;
    height: 35px;
}
#search-bar .top-search {
    width: 530px;
    height: 20px;
    line-height: 21px;
    margin: 0;
}
#search-bar .link-line {
    height: 18px;
    padding-left: 10px;
    margin-top: 5px;
}
#search-bar .link-line li {
    float: left;
}
#search-bar .link-line li a {
    padding: 0 5px;
}



// Nav component
// -------------------------

// nav
#nav .navbar {
    margin-bottom: 5px;
}



// Location component
// -------------------------

// current location
#location {
    margin: 5px auto;
    height: 30px;
    line-height: 23px;
    overflow: hidden;
}
#location .attention {
    display: inline-block;*display: inline;
    height: 27px;
    margin-left: 50px;
}
#location .attention .btn {
    height: 27px;
    padding: 2px 15px;
}



// List content component
// -------------------------

// main block
.main-block {
    margin-bottom: 10px;
}
.inner {
    margin-top: -11px;
    border: 4px solid @grayLighter;

}
.main {
    border: 1px solid @blocksolid;
    padding: 5px;
}

// video-list
.category {
    border: 4px solid @grayLighter;
}
.category .main-top {
    .main();
    padding-bottom: 0;
}
.category .bs-docs-sidebar {
    width: 80px;
    *margin-left: 13px;
}
.category .video-list {
    width: 611px;
    *margin-left: 13px;
}
.category .bs-docs-sidebar strong {
    padding-left: 7px;
}
.category .bs-docs-sidebar .nav-list {
    padding-right: 0;
}
.category .bs-docs-sidebar .nav-list a {
    padding-right: 0;
}
.category .bs-docs-sidebar .nav-list .icon-chevron-right {
    margin: 0 2px 0 8px;
}
.video-list ul {
    margin-left: 11px;
}
.video-list ul li {
    float: left;
    width: 120px;
    height: 171px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px dotted @grayLighter;
}

// entry video list
.entry-list {
    padding-top: 6px;
    .clearfix();
}
.entry-list li {
    float: left;
    width: 181px;
    padding-bottom: 16px;
    text-align: center;
}



// Side component
// -------------------------

// general
.side-block {
    border: 4px solid @grayLighter;
    margin-bottom: 10px;
}
.sort .side-block .right-top {
    border: 1px solid @blocksolid;
}

// carousel
.sort .carousel {
    border: 1px solid @grayLighter;
}
.sort .carousel .carousel-inner img {
    border: 1px solid @white;
}

// sort-side-box
.side-block .right-title {
    margin: 0;
    height: 30px;
    overflow: auto;
    zoom: 1;
    #gradient > .vertical(@white, @grayLighter);
}
.side-block .right-title h5 {
    float: left;
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
}
.side-block .right-title h5 span {
    height: 17px;
    padding-left: 5px;
    border-left: 5px solid @red;
}
.side-block .platform {
    border-bottom: 1px dotted @grayLighter;
    color: @grayLight;
    margin: 0 10px;
    padding: 3px 0;
}
.side-block .platform h6 {
    margin: 0;
    padding: 0;
}
.side-block .platform li {
    display: inline-block;*display: inline;*zoom:1;
    padding: 0 5px;
}
.side-block .year li {
    padding: 0 3px;
}

// side list
.side-list li {
    border-bottom: 1px dotted #CCCCCC;
    vertical-align: bottom;
    overflow: hidden;
    margin: 0 10px;
    height: 30px;
}
.side-list li .pull-left {
    padding-left: 10px;
    line-height: 30px;
    overflow: hidden;
    width: 170px;
}
.side-list li .pull-right {
    color: #888888;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    width: 50px;
}


// Content component
// -------------------------

// content
.content .main-top {
    .main();
    border: 4px solid @grayLighter;
    background-color: @grayLighter;
}
.content .main-top .main-title {
    height: 48px;
}
.content .main-top .main-body {
    border: 1px solid @blocksolid;
    background-color: @white;
}
.content .main-top .main-body .head-info {
    .clearfix();
    padding: 12px 15px 15px;
}
.content .main-top .main-body .head-info .head-info-left {
    float: left;
    overflow: hidden;
    width: 477px;
}
.content .main-top .main-body .head-info .head-info-left .img-info {
    color: @grayDark;
    float: right;
    min-height: 174px;
    overflow: hidden;
    position: relative;
    width: 345px;
    ul {
        .clearfix();
    }
}
.content .main-top .main-body .head-info .head-info-left .img-info .entry-info li {
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    .item {
        display: inline-block;
        margin-right: 22px;
        vertical-align: top;
    }
}
.content .main-top .main-body .head-info .head-info-right {
    color: #666;
    float: right;
    line-height: 20px;
    overflow: hidden;
    width: 155px;
}
.content .main-top .main-body .head-info .head-info-right .entry-status {
    margin-bottom: 5px;
    overflow: hidden;
}
.content .main-top .main-body .head-info .head-info-right li {
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    overflow: hidden;
    vertical-align: middle;
}
.content .main-top .main-body .head-info .head-info-right .stat-text {
    float: left;
    color: #666;
}
.content .main-top .main-body .head-info .head-info-right .stat-text-bar {
    float: left;
    height: 14px;
    padding: 4px 2px 0 6px;
    span {
        display: block;
        background-color: #f3e0dd;
        overflow: hidden;
        height: 12px;
    }
}
.head-info-bottom {
    .clearfix();
}
.head-info-bottom .head-info-more {
    color: #666666;
    float: left;
    margin-top: -5px;
    text-align: center;
    width: 124px;
}



// Introduction component
// -------------------------

// intro
.intr {
    padding: 0 16px 10px 16px;
}
.intr .intr-title {
    border-bottom: 1px dotted @grayLight;
    height: 35px;
    padding: 7px 5px 0 0;
}
.intr .intr-title h4 {
    width: auto;
}
.intr .intr-title .nav {
    height: 25px;
    margin: 10px -12px 0 0;
}
.intr .intr-title li {
    float: left;
    padding: 0 5px;
}
.intr .intr-title li i {
    margin: 0 1px 0 0;
}
.intr .intr-title li a {
    padding: 0 5px;
}
.intr .intr-title li .caret {
    margin-top: 8px;
}
.intr .intr-title li .dropdown-menu {
    min-width: 70px;
}
.intr .intr-title .open a:focus {
    background-color: @grayLight;
    border-color: @grayLight;
    color: @white;
}
.intr .intr-text {
    padding: 10px 0 0 0;
    line-height: 24px;
}
.intr .intr-pic-body {
    .clearfix();
    display: block;
    margin-top: 10px;
}
.intr .intr-pic-body li {
    float: left;
    height: auto;
    overflow: hidden;
    text-align: center;
    width: 165px;
}
.intr .intr-pic .intr-pic-ft {
    padding: 15px 0 5px;
    text-align: right;
}



// Interest component
// -------------------------

// inter title
.inter-title {
    border-bottom: 1px dotted #999999;
    height: 35px;
    padding: 7px 5px 0 0
}

// inter body
.inter-body {
    height: 191px;
}
.inter-body .video-list li {
    position: relative;
    width: 141px;
    border: none;
}

// entry tip
.entry-tip {
    position:absolute;
    width:270px;
    height:175px;
    background-color:@white;
    border:1px solid #cfcfcf;
    top:3px;
    left:16px;
    z-index:3;
}
.entry-tip .entry-tip-box {
    padding:8px;
    text-align:left;
}
.entry-tip .entry-tip-box .entry-tip-list {
    height:123px;
    width:160px;
    padding-left:98px;
    margin:0 0 10px 0;
    dd {
        margin:0;
    }
}





// Comment component
// -------------------------

// comment title
.comment {
    margin-top: 25px;
}
.comment .comment-title {
    margin: 20px 0;
}
.comment .topic-item {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dotted @grayLighter;
}



// Ediotor component
// -------------------------

// comment title
.editor-title {
    margin: 20px 0;
}
.editor-body {
    position: relative;
    background-color: @white;
}
.editor-body .editor-wrap {
    padding: 8px 10px;
    border: 1px solid #ccc;
    min-height: 88px;
}
.editor .submit {
    margin: 5px 0;
}
.editor .submit .btn {
    padding: 4px 20px;
}



// Order
// -------------------------

// list order
.list-order {
    .clearfix();
    display: block;
    padding: 0 0 10px 0;
    margin: 5px 0;
}
.list-order .btn-mini {
    font-size: 12px;
    padding: 0 7px;
}
.list-order select {
    width: 75px;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    box-sizing: border-box;
}



// quick-Editor
// -------------------------

// editor-body
.quick-editor {
    background: none repeat scroll 0 0 @white;
    margin-top: 10px;
    min-height: 88px;
    position: relative;
    .btn {
        margin-top: 5px;
    }
}



// pic-carousel
// -------------------------

// pic-body
.pic-carousel {
    padding:10px;
    float: left;
    background-color:#fff;
    box-shadow:1px 1px 2px #CFCFCF, -1px -1px 2px #CFCFCF;
}
.pic-carousel .pic-head {
    height:70px;
    border-bottom:1px solid #cfcfcf;
}
.pic-carousel .pic-head .pic-index {
    display: inline-block;
    height: 30px;
    li {
        float: left;
    }
    .prompt {
        margin-left: 20px;
        color: @grayLight;
    }
}
.pic-carousel .pic-head .pic-info {
    height:40px;
}
.pic-carousel .pic-head .pic-info .ep-info {
    float: right;
    p {
        float: left;
        margin: 10px 0;
    }
}
.pic-carousel .pic-main {
    margin-top: 10px;
    height: 520px;
}
.pic-carousel .pic-main .show-area {
    float: left;
    overflow: hidden;
    position: relative;
    width: 775px;
}
.pic-carousel .pic-main .pic-description {
    padding: 0 0 0 10px;
    float:left;
    height: 520px;
    width: 185px;
    .ep-picinfo {
        clear: both;
        line-height: 20px;
        overflow: hidden;
        color: @grayLight;
        padding: 5px 0 10px;
        word-break: break-all;
        word-wrap: break-word;
    }
}
.pic-carousel .pic-list-main {
    width: 725px;
    overflow: hidden;
    padding-left: 50px;
    text-align: center;
}
.pic-carousel .pic-sub-num {
    height: 30px;
    width: 775px;
    margin-bottom: 10px;
    color: @blue;
    strong {
        font-size: 20px;
    }
}
.pic-carousel .pic-list-main .pic-list-box {
    float: left;
    margin-right: 5px;
    position: relative;
    width: 444px;
    z-index: 0;
}
.pic-carousel .pic-list-main .pre-list,.pic-carousel .pic-list-main .next-list {
    height: 38px;
    overflow: hidden;
    padding-top: 15px;
    width: 14px;
}
.pic-carousel .pre-arrow {
    background: url("images/blank.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    outline: medium none;
    overflow: hidden;
    padding-left: 350px;
    position: absolute;
    top: 0;
    width: 0;
    left:0;
}
.pic-carousel .next-arrow {
    background: url("images/blank.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    outline: medium none;
    overflow: hidden;
    padding-left: 350px;
    position: absolute;
    top: 0;
    width: 0;
    right: 0;
}



// Vertical dividing line component
// -------------------------

// pipe
.pipe {
  color: #D5D5D5;
  font-style: normal;
  padding: 0 5px;
}


