/*
*@Description: custom-movie > scaffolding.less
*@Author:      huxt
*@Update:      huxt(2013-07-05 10:20)
*/



// Body
// -------------------------

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}



// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
  text-decoration: underline;
}



// Images
// -------------------------

// small image
.small-cover {
    .clearfix();
    display: inline-block;*zoom:1;*display:inline;
    padding: 1px;
    border: 1px solid @grayLight;
    line-height: 0;
    img {
        vertical-align: middle;
    }
}

// big image
.big-cover {
    .clearfix();
    display: inline-block;*zoom:1;*display:inline;
    padding: 1px;
    border: 1px solid @grayLight;
    font-size: 0;
    line-height: 0;
    img {
        vertical-align: middle;
    }
}


// GENERAL STYLES
// --------------

// movie
.info {
    text-align: center;
    margin-top: 5px;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.info strong {
    display: block;
    font-weight: bold;
    line-height: 20px;
    height: auto;
    overflow: visible;
}
